<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center padding>
  <ion-label>
      Mission : {{launch.mission_name}} <br />
      Le : {{launch.launch_date_utc}} <br />
  </ion-label>
  <img [src]="sanitizer.bypassSecurityTrustUrl(launch.links.mission_patch)" width="200" height="200"/>
  <br />
  <ion-label>
      Desctiption : <br />
      {{launch.details}}
  </ion-label>
</ion-content>